body {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  max-height: 50px;
}

.branding {
  display: flex;
  align-items: center;
  font-size: 36px;
  gap: 16px;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
}

.colours {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.darkshades {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(12, 30px);
}

.lightshades {
  display: grid;
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(12, 30px);
}

.colours button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.features {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.container {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 500px;
  height: 500px;
  margin: 25px;
  
}

.pixel {
  background-color: white;
  
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 32px;
}